<div class="container">

      <div class="starter-template">
        <h1>Upload</h1>
        <p <button type="button" class="btn btn-lg btn-info" onclick="doFunction()">Browse</button></p>
      </div>

</div><!-- /.container -->
<script type="text/javascript">
	function doFunction() {
		filepicker.pick({
				mimetypes: ['image/*', 'text/plain'],
				container: 'window',
				services:['COMPUTER', 'FACEBOOK', 'GMAIL'],
			},
			function(InkBlob){
				var val = JSON.stringify(InkBlob);
				$.post("http://localhost:3000/upload",
			    {
			      url: InkBlob.url,
			    },
			    function(data,status){
			      alert("Data: " + data + "\nStatus: " + status);
			      document.write('localhost:3000/cdn/' + data);
				  console.log('localhost:3000/cdn/' + data);
			    });
			},
			function(FPError){
				console.log(FPError.toString());
			}
		);
	}
</script>
